defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.9.6
django-enumfields==0.7.4
django-floppyforms==1.6.2
Markdown==2.6.6
oauthlib==1.1.1
psycopg2==2.6.1
PyJWT==1.4.0
python-social-auth==0.2.19
python3-openid==3.0.10
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
WebOb==1.6.1
whitenoise==3.1
wsgi-basic-auth==0.0.3
