{% extends "bugbounty/base.html" %}

{% block content %}
  <h1>18F Bug Bounty</h1>
  <p class="usa-font-lead">
    Introductory hero text here. Marzipan tootsie roll sugar plum gingerbread I love danish bonbon carrot cake. Cupcake marzipan sweet roll. Cotton candy halvah cake. Wafer jelly jelly-o cheesecake cupcake I love. Pie chupa chups jujubes. Icing cotton candy danish sweet roll. Pudding jelly-o gummi bears chocolate cake carrot cake lemon drops jelly liquorice I love. Tootsie roll jujubes donut carrot cake donut macaroon fruitcake. Croissant I love dessert powder oat cake chocolate cake tootsie roll. Lollipop icing pie I love danish lemon drops powder. Toffee chocolate cake candy jelly-o I love cotton candy cookie. Muffin chocolate cake gummi bears I love I love. Wafer sweet roll gingerbread topping apple pie.
  </p>

  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Ready to participate?</h3>
      <p class="usa-alert-text">
        Please read the <a href="#rules">rules</a> and 
        <a href="#scope">scope</a> of the program, then 
        <a href="{% url "bounty-submit" %}">submit a bug report</a>.
      </p>
    </div>
  </div>

  <div id="rules">{{ rules }}</div>
  <div id="scope">{{ scope }}</div>
  <div id="faq">{{ faq }}</div>

  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Ready to participate?</h3>
      <p class="usa-alert-text">
        Please read the <a href="#rules">rules</a> and 
        <a href="#scope">scope</a> of the program, then 
        <a href="{% url "bounty-submit" %}">submit a bug report</a>.
      </p>
    </div>
  </div>

{% endblock content %}