{% extends "bugbounty/base.html" %}

{% block content %}
  {% load floppyforms %}
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h1>Submit a report to the 18F Bug Bounty</h1>
      <p class="usa-font-lead">
          Please make sure you've read the rules and FAQ first! 
      </p>
      <form method="POST" action="." class="usa-form-large">
        {% csrf_token %}
        {% for field in form %}
          {% if field.errors %}<div class="usa-input-error">{% endif %}
            <label for="{{ field|id }}" {% if field.errors %}class="usa-input-error-label"{% endif %}>
              {{ field.label }}:
            </label>
            {% for error in field.errors %}
              <span class="usa-input-error-message" role="alert">{{ error }}</span>
            {% endfor %}
            {% widget field %}
            {% if field.help_text %}<div class="help-text">{{ field.help_text }}</div>{% endif %}
          {% if field.errors %}</div>{% endif %}
        {% endfor %}
        <div class="button_wrapper">
          <button class="usa-button-big" type="submit">Default</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}